

  .title-dia {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 400px;
    font-size: 2em;
    padding: 20px;
    text-align: center;
    background-color: #502267;
    color: #ffffff;
  }



  .reloj {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 400px;
    font-size: 4em;
    padding: 20px;
    text-align: center;
    background-color: #502267; 
    color: #ffffff;
  }
  




  